<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>test01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.yuan.javaweb.logincontroller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAdmin</display-name>
    <servlet-name>AddAdmin</servlet-name>
    <servlet-class>com.yuan.javaweb.admincontroller.AddAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdmin</servlet-name>
    <url-pattern>/addAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAdmin</display-name>
    <servlet-name>QueryAdmin</servlet-name>
    <servlet-class>com.yuan.javaweb.admincontroller.QueryAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAdmin</servlet-name>
    <url-pattern>/queryAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchAdmin</display-name>
    <servlet-name>SearchAdmin</servlet-name>
    <servlet-class>com.yuan.javaweb.admincontroller.SearchAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAdmin</servlet-name>
    <url-pattern>/searchAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAdminOne</display-name>
    <servlet-name>SelectAdminOne</servlet-name>
    <servlet-class>com.yuan.javaweb.admincontroller.SelectAdminOne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAdminOne</servlet-name>
    <url-pattern>/selectAdminOne</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharSetEcoding</display-name>
    <filter-name>CharSetEcoding</filter-name>
    <filter-class>com.yuan.javaweb.filter.CharSetEcoding</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharSetEcoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAdmin</display-name>
    <servlet-name>UpdateAdmin</servlet-name>
    <servlet-class>com.yuan.javaweb.admincontroller.UpdateAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdmin</servlet-name>
    <url-pattern>/updateAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAdmin</display-name>
    <servlet-name>DeleteAdmin</servlet-name>
    <servlet-class>com.yuan.javaweb.admincontroller.DeleteAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAdmin</servlet-name>
    <url-pattern>/deleteAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryRoom</display-name>
    <servlet-name>QueryRoom</servlet-name>
    <servlet-class>com.yuan.javaweb.admincontroller.QueryRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryRoom</servlet-name>
    <url-pattern>/queryRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRoom</display-name>
    <servlet-name>AddRoom</servlet-name>
    <servlet-class>com.yuan.javaweb.admincontroller.AddRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRoom</servlet-name>
    <url-pattern>/addRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchRoom</display-name>
    <servlet-name>SearchRoom</servlet-name>
    <servlet-class>com.yuan.javaweb.admincontroller.SearchRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchRoom</servlet-name>
    <url-pattern>/searchRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectRoomOne</display-name>
    <servlet-name>SelectRoomOne</servlet-name>
    <servlet-class>com.yuan.javaweb.admincontroller.SelectRoomOne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectRoomOne</servlet-name>
    <url-pattern>/selectRoomOne</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRoom</display-name>
    <servlet-name>DeleteRoom</servlet-name>
    <servlet-class>com.yuan.javaweb.admincontroller.DeleteRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRoom</servlet-name>
    <url-pattern>/deleteRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRoom</display-name>
    <servlet-name>UpdateRoom</servlet-name>
    <servlet-class>com.yuan.javaweb.admincontroller.UpdateRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRoom</servlet-name>
    <url-pattern>/updateRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddClass</display-name>
    <servlet-name>AddClass</servlet-name>
    <servlet-class>com.yuan.javaweb.admincontroller.AddClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClass</servlet-name>
    <url-pattern>/addClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryClass</display-name>
    <servlet-name>QueryClass</servlet-name>
    <servlet-class>com.yuan.javaweb.admincontroller.QueryClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryClass</servlet-name>
    <url-pattern>/queryClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteClass</display-name>
    <servlet-name>DeleteClass</servlet-name>
    <servlet-class>com.yuan.javaweb.admincontroller.DeleteClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteClass</servlet-name>
    <url-pattern>/deleteClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectClassOne</display-name>
    <servlet-name>SelectClassOne</servlet-name>
    <servlet-class>com.yuan.javaweb.admincontroller.SelectClassOne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectClassOne</servlet-name>
    <url-pattern>/selectClassOne</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateClass</display-name>
    <servlet-name>UpdateClass</servlet-name>
    <servlet-class>com.yuan.javaweb.admincontroller.UpdateClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateClass</servlet-name>
    <url-pattern>/updateClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllUserPage</display-name>
    <servlet-name>GetAllUserPage</servlet-name>
    <servlet-class>com.yuan.javaweb.admincontroller.GetAllUserPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllUserPage</servlet-name>
    <url-pattern>/getAllUserPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllRoomPage</display-name>
    <servlet-name>GetAllRoomPage</servlet-name>
    <servlet-class>com.yuan.javaweb.admincontroller.GetAllRoomPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllRoomPage</servlet-name>
    <url-pattern>/getAllRoomPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchClass</display-name>
    <servlet-name>SearchClass</servlet-name>
    <servlet-class>com.yuan.javaweb.admincontroller.SearchClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchClass</servlet-name>
    <url-pattern>/searchClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCourse</display-name>
    <servlet-name>AddCourse</servlet-name>
    <servlet-class>com.yuan.javaweb.teacher.controller.AddCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCourse</servlet-name>
    <url-pattern>/addCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAllCourse</display-name>
    <servlet-name>QueryAllCourse</servlet-name>
    <servlet-class>com.yuan.javaweb.teacher.controller.QueryAllCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllCourse</servlet-name>
    <url-pattern>/queryAllCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectCourseOne</display-name>
    <servlet-name>SelectCourseOne</servlet-name>
    <servlet-class>com.yuan.javaweb.teacher.controller.SelectCourseOne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectCourseOne</servlet-name>
    <url-pattern>/selectCourseOne</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCourse</display-name>
    <servlet-name>UpdateCourse</servlet-name>
    <servlet-class>com.yuan.javaweb.teacher.controller.UpdateCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCourse</servlet-name>
    <url-pattern>/updateCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCourse</display-name>
    <servlet-name>DeleteCourse</servlet-name>
    <servlet-class>com.yuan.javaweb.teacher.controller.DeleteCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCourse</servlet-name>
    <url-pattern>/deleteCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryPresence</display-name>
    <servlet-name>QueryPresence</servlet-name>
    <servlet-class>com.yuan.javaweb.teacher.controller.QueryPresence</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryPresence</servlet-name>
    <url-pattern>/queryPresence</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePresence</display-name>
    <servlet-name>UpdatePresence</servlet-name>
    <servlet-class>com.yuan.javaweb.teacher.controller.UpdatePresence</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePresence</servlet-name>
    <url-pattern>/updatePresence</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryShow</display-name>
    <servlet-name>QueryShow</servlet-name>
    <servlet-class>com.yuan.javaweb.student.controller.QueryShow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryShow</servlet-name>
    <url-pattern>/queryShow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Count</display-name>
    <servlet-name>Count</servlet-name>
    <servlet-class>com.yuan.javaweb.teacher.controller.Count</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Count</servlet-name>
    <url-pattern>/count</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.yuan.javaweb.teacher.controller.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadServlet</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>com.yuan.javaweb.file.controller.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnvTeacher</display-name>
    <servlet-name>EnvTeacher</servlet-name>
    <servlet-class>com.yuan.javaweb.student.controller.EnvTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnvTeacher</servlet-name>
    <url-pattern>/envTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryEnv</display-name>
    <servlet-name>QueryEnv</servlet-name>
    <servlet-class>com.yuan.javaweb.teacher.controller.QueryEnv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryEnv</servlet-name>
    <url-pattern>/queryEnv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryEnvAdv</display-name>
    <servlet-name>QueryEnvAdv</servlet-name>
    <servlet-class>com.yuan.javaweb.teacher.controller.QueryEnvAdv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryEnvAdv</servlet-name>
    <url-pattern>/queryEnvAdv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowWork</display-name>
    <servlet-name>ShowWork</servlet-name>
    <servlet-class>com.yuan.javaweb.student.controller.ShowWork</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowWork</servlet-name>
    <url-pattern>/showWork</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownWork</display-name>
    <servlet-name>DownWork</servlet-name>
    <servlet-class>com.yuan.javaweb.student.controller.DownWork</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownWork</servlet-name>
    <url-pattern>/downWork</url-pattern>
  </servlet-mapping>
</web-app>